{% extends 'base.html.twig' %}

{% block profile %}{% if not profile %}<a href="{{ path('profile_show') }}">Profile</a>{% endif %}{% endblock %}
{% block title %}IUser{% endblock %}

{% block bodyproper %}
    <h1>IUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ i_user.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ i_user.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ i_user.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>(encoded)</td>
            </tr>
            <tr>
                <th>Privilege</th>
                <td>{{ i_user.privilege }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ i_user.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

{% if profile %}
    <div><a href="{{ path('profile_edit') }}">edit</a></div>
    {% if not is_granted('ROLE_ADMIN') %}<div>You are allowed also to <a href="{{ path('i_user_new') }}">add (offer) a new user</a>, but admins are entitled to revise at any time</div>{% endif %}
{% else %}
    <a href="{{ path('i_user_index') }}">back to list</a>
    <a href="{{ path('i_user_edit', {'id': i_user.id}) }}">edit</a>
    {{ include('i_user/_delete_form.html.twig') }}
{% endif %}
{% endblock %}
